.library-container .Book-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.library-container .Book-list .book-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

.library-container {
  padding: 15px;
  width: 100%;
}

.bookDetail {
  border: 1px solid #acacac;
  padding: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  /* display: flex;
  justify-content: center; */
}

.bookDetail img {
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bookDetail .book-content {
  padding: 20px;
}

.book-content h1 {
  color: #4b4363;
  font-weight: bold;
}

.book-content .author-name {
  font-size: 24px;
  font-weight: 600;
  color: #878787;
}

.book-content .book_genre {
  font-size: 20px;
  font-weight: 500;
  color: #878787;
}
.book-content .price {
  font-size: 20px;
  font-weight: 600;
  color: #878787;
}

.book-content .discription {
  font-size: 18px;
  color: #878787;
  letter-spacing: 1px;
}
