.header {
  position: fixed;
  top: 0;
  background-color: #4b4363;
  height: 55px !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 14px 24px;
  color: #fbf6f6;
  z-index: 9999;
}
.header .title {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.menu-icon {
  display: none;
 }

.header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.header .navbar .nav {
  font-size: 16px;
  font-weight: 500;
  color: #fbf6f6;
  text-decoration: none;
}
.header .navbar .nav:hover {
  color: #0088ff;
}
.navbar .nav.active {
  color: #4400ff;
}


@media screen and (max-width: 770px) {
  .header{
    padding: 14px;
  }
  .menu-icon {
   display: block;
  }
  .header .navbar {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    padding:0
  }
}

@media screen and (max-width: 376px) {
  .header .title {
    font-size: 15px;
  }
  .header{
    padding: 8px;
  }
  .header .profile {
    gap: 5px;
    padding: 8px;
  }
  
  .header .profile p {
    margin-bottom: 0;
  }
}