@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.header {
  position: fixed;
  top: 0;
  background-color: #4b4363;
  height: 55px !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 14px 24px;
  color: #fbf6f6;
  z-index: 1;
}
.header .title {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  font-family: cursive;
  letter-spacing: 1%;
  margin: 0;
  cursor: pointer;
  user-select: none;
}

.menu-icon {
  display: none;
}

.header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.header .nav {
  font-size: 16px;
  font-weight: 500;
  color: #fbf6f6;
  text-decoration: none;
  user-select: none !important;  
}
.header .nav:hover {
  /* color: #0088ff; */
}
.nav.active {
  border: 1px solid #f6f6f6;
  padding: 3px 10px;
  border-radius: 5px;
}

@media screen and (max-width: 770px) {
  .header {
    padding: 14px;
  }
  .menu-icon {
    display: block;
  }
  .header .navbar {
    display: none;
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
  }
}

@media screen and (max-width: 376px) {
  .header {
    padding: 8px;
  }
  .header .profile {
    gap: 5px;
    padding: 8px;
  }

  .header .profile p {
    margin-bottom: 0;
  }
}

.filter {  
  display: flex;
  padding: 10px 30px;
  column-gap: 30px;
  background-color: #f2f2f2;
  color: #636060;
  font-weight: 500;
  position: fixed;
  top: 54px;
  cursor: pointer;
  /* justify-content: center; */
  user-select: none;
  z-index: 1;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
  max-width: 100%;
  overflow-x: auto;
}


.filter p{
  white-space: nowrap; 
  text-align: center;
  margin-bottom: 0;
}

.filter p:hover {
  color: #321d62;
}

@media screen and (max-width: 1025px) {
  .filter {
    display: flex;
    padding: 10px 20px;
    column-gap: 20px;
  }
}
