.footer {
  /* margin-top: auto; */
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #4b4363;
  height: 40px !important;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 14px 24px;
  color: #fbf6f6;
}
