.auth-container {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
}

.login-wrapper {
  padding: 15px 70px;
  margin: 10px auto;
}

.auth-title {
  color: #4b4363;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.login-wrapper .input {
  /* width: 100%; */
  margin: 10px 0;
}
.or {
  color: #464545;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.or .line {
  flex: 1;
  height: 1px;
  background-color: rgb(196 196 196);
  border-radius: 5px;
}
.or span {
  margin: 0 10px;
}

.navigationLink {
  color: #0000eb;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 0 6px;
}

.navigationLink:hover {
  text-decoration: underline;
}
.p-text p {
  text-align: center;
  color: #464545;
  font-size: 16px;
  margin: 8px;
}

.button {
  background-color: #4b4363;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
.button:hover {
  background-color: #40316e;
  color: #ffffff;
}
.p-text p .google {
  font-size: large;
  margin-bottom: 2px;
}

/* @media screen and (max-width : 426px) {
  .vector-img{
    display: none;
  }
  .login-wrapper{
    padding: 10px 20px;
    margin: 0;
  }
  
} */

/* Forget Password */

.forgetpswd-container {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.Forget-password {
  padding: 30px 50px;
}

/* otp */

.p-inputotp {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.p-inputotp input {
  width: 50px !important; /* Adjust width */
  height: 50px !important; /* Adjust height */
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.p-inputotp input:focus {
  border-color: #6c63ff;
  outline: none;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}